<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Driver</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
  <ul>
    <li><a href="/driver/showAll">All Drivers</a></li>
    <li><a href="/driver/addNew">Add Driver</a></li>
    <li><a href="/ticket/showAll/onlyChild">All Child Tickets</a></li>
    <li><a href="/ticket/add">Add Ticket</a></li>
    <li><a href="/trip/showAll/today">All Today's Trips</a></li>
    <li><a href="/trip/showAll">All Trips</a></li>
  </ul>
</nav>

    <h1>Update Driver</h1>
    <div class="container">

    <form action="#" th:action="@{/driver/update/{id}(id=${driver.idd})}" th:object="${driver}" method="post">
        <table>
            <tr>
                <th>Name:</th>
                <td><input type="text" th:field="*{name}" /></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </tr>
            <tr>
                <th>Surname:</th>
                <td><input type="text" th:field="*{surname}" /></td>
                <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
            </tr>
            <tr>
                <th>Categories:</th>
                <td>
                    <select th:field="*{categories}" multiple="multiple">
                        <option th:each="category : ${T(lv.venta.models.Buscategory).values()}"
                                th:value="${category}" th:text="${category}"
                                th:selected="${#lists.contains(driver.categories, category)} ? 'selected' : null"></option>
                    </select>
                    <small>Select 1 or multiple categories</small>
                </td>
                <td th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit">Update Driver</button>
                </td>
            </tr>
        </table>
    </form>
    </div>
</body>
</html>