<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket List</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
  <ul>
    <li><a href="/driver/showAll">All Drivers</a></li>
    <li><a href="/driver/addNew">Add Driver</a></li>
    <li><a href="/ticket/showAll/onlyChild">All Child Tickets</a></li>
    <li><a href="/ticket/add">Add Ticket</a></li>
    <li><a href="/trip/showAll/today">All Today's Trips</a></li>
    <li><a href="/trip/showAll">All Trips</a></li>
  </ul>
</nav>
    <h1>Ticket List for <span th:text="${searchedElement}"></span></h1>
        <div class="container">

    <table>
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Trip ID</th>
                <th>Purchase Date and Time</th>
                <th>Price</th>
                <th>Is Child?</th>
                <th>Cashier</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.idt}"></td>
                <td th:text="${ticket.trip.idtr}"></td>
                <td>
                    <span th:text="${#temporals.format(ticket.purchasedatetime, 'dd/MM/yyyy HH:mm')}"></span>
                </td>
                <td th:text="${ticket.price}"></td>
                <td th:text="${ticket.isChild ? 'Yes' : 'No'}"></td>
                <td th:text="${ticket.cashier.surname}"></td>
            </tr>
        </tbody>
    </table>
    
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    </div>
</body>
</html>